<div class="container login-container">
	<img id="profile-img" class="profile-img-card"
		src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
		
		
	<div class="alert alert-danger" ng-show="error">There was a
		problem logging in. Please try again.</div>
		
		
	<form role="form" ng-submit="login()">
		<div class="form-group">
			<input type="email" class="form-control" id="username"
				name="username" ng-model="credentials.username" required
				id="exampleInputEmail2" placeholder="Email address" />
		</div>
		<div class="form-group">
			<input type="password" class="form-control" id="password"
				name="password" ng-model="credentials.password" required
				placeholder="Password" />
		</div>
		<button type="submit" class="btn btn-primary btn-block">Log
			in</button>
	</form>
	<hr>
	<div class="bottom text-right">	
		<a href="/register"><b>Register an account</b></a>
	</div>
</div>