<h1>Activity List</h1>
<div class="container col-md-10" ng-init="getActivities()">
	<table class="table table-striped" id="activityTable">
		<thead>
			<tr>
				<th class="col-sm-1">No.</th>
				<th class="col-sm-3">Activity Name</th>
				<th class="col-sm-3">Description</th>
				<th class="col-sm-3">Place</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="activity in activities | orderBy : 'id'" height="55">
				<td hidden="true" id="activityID">{{ activity.id }}</td>
				<td>{{ $index + 1 }}</td>
				<td>{{ activity.activity_name }}</td>
				<td>{{ activity.description }}</td>
				<td>{{ activity.place }}</td>
				<td><a class="btn btn-primary btn-block" onclick="selectId(this)" >View detail</a></td>
			</tr>
		</tbody>
	</table>
			
</div>
<div class="container"><a style="float: right;" class="btn btn-primary " ng-show="isAdmin()" href="/createActivity">Create New Activity</a></div>
